{% extends 'base.html' %}
{% load staticfiles %}
{% load nav_tags %}


{% block title %}
<title>小伙外卖网 | 菜系 - {{ menu.name }}</title>
{% endblock %}


{% block css %}
	<link rel="stylesheet" href="{% static 'takeout/css/menu.css' %}">
{% endblock css %} 


{% block logo %}
	<div id="logo"><a href="/"><img src="{% static 'takeout/base_images/logotu2.png' %}"></a></div>			
{% endblock logo %}


{% block content %}
	<!--content start-->
	<!-- 菜谱 -->
		<div id="content_2" class="juzhong">
			<div class="midbox" id="chuancai">
				<span style="font-size:18px;">{{ menu.name }}<span>
				<a id="gengduo" href="{% url 'takeout:more' menu.name %}" >更多>></a>
				<ul>
					{% for food in food_list %}
						<li><a href="{{ food.get_absolute_url }}"><img src="{{ food.image }}"  /><div class="zizi">{{ food.name }}</div></a></li>
					{% endfor %}
				</ul>
			</div>
		</div>
	<!--content end-->
{% endblock content%}


{% block dock %}
	<!--固定框 start-->
	<div id="fixed_area">
		<ul>
			{% get_second_menu None as menu_list %}
			{% for menu in menu_list %}
				<li><a class="ex4" href="{% url 'takeout:menu' menu.name %}"><img src="{{ menu.image }}" width="25"><span>{{ menu.name }}</span></a></li>
			{% endfor %}
			<li><a class="ex4" href="#"><img src="{% static 'takeout/base_images/top.png' %}" width="40" style="position:absolute;left:50%;margin-left:-20px;"></a></li>
		</ul>
	<div>
{% endblock dock %}